DATABASE_URL="postgresql://usuario:clave@host/basededatos?sslmode=require"
JWT_SECRET="cambia-esto-por-una-cadena-larga-y-aleatoria"
PORT=4000
FRONTEND_URL="http://localhost:5173"
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
